<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{categoryName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list >
        <ion-item *ngFor="let item of recipes; let i = index;" >
            <ion-grid>
            <ion-row>
                <ion-col width-80 (click)="recipeSelected(item)">
                    <h1>{{item.title}}</h1>
                    <p>{{item.likedByUser}}</p>
                </ion-col> 
                <ion-col width-20 *ngIf="!item.likedByUser">
                    <button ion-button type="button" (click)="like(item._id,i)">
                    <ion-icon name="thumbs-up"></ion-icon>
                        {{ item.like_count}}
                    </button>
                </ion-col>
                <ion-col width-20 *ngIf="item.likedByUser">
                    <button ion-button type="button" color="danger" (click)="unlike(item._id,i)">
                    <ion-icon name="thumbs-down"></ion-icon>
                        {{ item.like_count}}
                    </button>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
