<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{categoryName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid >
        <ion-row *ngFor="let row of recipes; let i1 = index;" > 
            <ion-col width-50 *ngFor="let item of row; let i2 = index;">
                <ion-item >
                    <ion-grid>
                        <ion-row >
                            <ion-col  (click)="recipeSelected(item)">
                                <h1>{{item.title}}</h1>
                            </ion-col> 
                            <ion-col  *ngIf="!item.likedByUser">
                                <button ion-button type="button" (click)="like(item._id,i1,i2)">
                                <ion-icon name="thumbs-up"></ion-icon>
                                    {{ item.like_count}}
                                </button>
                            </ion-col>
                            <ion-col *ngIf="item.likedByUser">
                                <button ion-button type="button" color="danger" (click)="unlike(item._id,i1,i2)">
                                <ion-icon name="thumbs-down"></ion-icon>
                                    {{ item.like_count}}
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
